name: Build

on:
  push:
    branches: [ linux-nosteamworks-steamclient ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y cmake build-essential gcc-multilib g++-multilib

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake ..

    - name: Build
      run: |
        cd build
        make

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: uc-online-launcher
        path: build
